{% extends 'base.html.twig' %}

{% block title %}Sensor{% endblock %}

{% block content %}
    <h1>Sensor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sensor.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sensor.name }}</td>
            </tr>
            <tr>
                <th>DevEUI</th>
                <td>{{ sensor.devEUI }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ sensor.type }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ sensor.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ sensor.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sensor_index') }}">back to list</a>

    <a href="{{ path('sensor_edit', {'id': sensor.id}) }}">edit</a>

    {{ include('sensor/_delete_form.html.twig') }}
{% endblock %}
