<form method="post" action="{{ path('sensor_crud_delete', {'id': sensor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sensor.id) }}">
    <button class="btn">Delete</button>
</form>
