{% extends 'base.html.twig' %}

{% block title %}New Sensor{% endblock %}

{% block body %}
    <h1>Create new Sensor</h1>

    {{ include('sensor_crud/_form.html.twig') }}

    <a href="{{ path('sensor_crud_index') }}">back to list</a>
{% endblock %}
